html,body{
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0
}
* {
  box-sizing: border-box;
  /* 去掉轮播图在chrome中的报错 */
  touch-action: pan-y;
}
h2,p {
  margin: 0;
}
#root{
  margin-top: -14px;
}
html,body,#root,.App{
  height: 100%;
}